.box {
    display: grid;
    height: 200px;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.item-in-box {
    display: unset !important;
    background-color: #00000050;
}

.products {
    align-items: end;
    display: grid;
    gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
}

.products a {
    height: min-content;
}

.products a img {
    width: 100%;
    height: 100%;
}